<div class="container-color center-inline">

  <div class=" container-white">
    <app-ob-header [firstname]="firstName" [lastname]="lastName" [amount]="amount"></app-ob-header>

    <div class="text-left col-xs-6 no-padding">Votre RIB</div>
    <div *ngIf="routeData.visite==2" class="text-right col-xs-6 no-padding">Modifier</div>

    <form [formGroup]="signupForm" class="example-form">
      <div></div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" formControlName="lastname">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Prénom" formControlName="firstname">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Numéro IBAN" formControlName="iban">
      </mat-form-field>

      <div class="text-right">
        <mat-slide-toggle color="primary" [checked]="routeData.slideChecked" (change)="visible = !visible"></mat-slide-toggle>
      </div>

      <app-ob-data-picker *ngIf="visible && routeData.visite==1" [parentFormGroup]="signupForm" ></app-ob-data-picker>

    </form>
  </div>

  <button [routerLink]="['/confirmation']" mat-raised-button color="primary" class="white-text-btn">Valider le
    virement
  </button>

  <h4>Vous avez X jours pour valider ce virement.</h4>

  <p>Vous pouvez supprimer le RIB que vous avez enregistré à tout moment ! Pour plus d’informations, consultez les <a>conditions
    générales d’utilisation</a> pour ce service.</p>

</div>
