<div class="container-color center-inline">


  <div class=" container-white">
    <div class="img-header-div">
      <img src="../../assets/img-header.png" alt="" srcset="" class="img-header center-bloc" >
    </div>


    <h1 class="expediteur">Vincent Lesoin vous a envoyé <br>
      234,00€</h1>
    <h3>Pour recevoir votre virement, nous vous invitons à saisir vos coordonnées bancaires :</h3>
    <h2 class="text-left">Votre RIB</h2>



    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nom" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Prénom" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Numéro IBAN" >
      </mat-form-field>
      <div class="text-right">
        <mat-slide-toggle color="primary" ></mat-slide-toggle>
      </div>


    </form>
  </div>

    <button mat-raised-button color="primary" class="white-text-btn">Valider le virement</button>

    <h4>Vous avez X jours pour valider ce virement.</h4>

    <p>Vous pouvez supprimer le RIB que vous avez enregistré à tout moment ! Pour plus d’informations, consultez les<a>conditions générales d’utilisation</a> pour ce service.</p>








</div>

